.ch1{
    height: 100px;
    width:100px;
    border: 2px black solid;
    background-color: blueviolet;
    position: absolute;
    right:0px;
    bottom:0px;
}
.ch2{
    height: 100px;
    width:100px;
    border: 2px black solid;
    background-color: antiquewhite;
}
.ch3{
    height: 500px;
    width:500px;
    background-color: darkblue;
    position: relative;
}