@media screen and (max-width:1024px) { CSS FOR Max WIDTH 1024Px }
@media screen and (max-width:768px) { CSS FOR Max WIDTH 768Px }
@media screen and (max-width:640px) { CSS FOR Max WIDTH 640Px }
@media screen and (max-width:480px) { CSS FOR Max WIDTH 480Px }
@media screen and (max-width:320px) { CSS FOR Max WIDTH 320Px }
body{
    margin:0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    
}
h1{
    font-size: 90px;
    font-weight: 800;
    margin-top:0;
    font-family: 'Sacramento', cursive;
    color:#66BFBF;
    line-height: 2px;
}
.stack{
    color:#66BFBF;
    font-weight: 800;
    line-height: 2px;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color:#66BFBF;
}
h3{
    font-family: 'Montserrat', sans-serif;
}
h3,a{
    color:#11999E;
}
.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding: 100px;
}
.code{
    border-radius: 40px;
    width:50%;
}
.mekky-img{
    margin-top: 100px;
    width: 300px;
}
.middle-container{
    background-color: #E4F9F5;
}
.full{
    text-decoration: underline  ;
}
.bottom-cloud{
    position: absolute;
}
.top-cloud{
    position: relative;
    left:200px;
}
.skill-row{
    width:50%;
    margin: 100px auto;
    line-height: 2;
}
